name: Cloud Build on Tag

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_run:
    workflows: ['Increment Version']
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20' # @types/nodeのバージョンに合わせて更新

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run Biome
        run: |
          cd ./packages/mahjong-api
          pnpm run lint
        continue-on-error: false # エラーがあれば処理を中断

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Extract tag version
        id: extract_tag
        run: |
          TAG_VERSION=${GITHUB_REF#refs/tags/}
          latest_tag=$(git tag -l --sort -refname --sort -authordate | head -1)

          if [[ ! "$TAG_VERSION" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            TAG_VERSION=${latest_tag}
          fi

          if [[ ! "$TAG_VERSION" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Invalid tag format. Must be v{major}.{minor}.{patch} with numeric values."
            exit 1
          fi
          echo "TAG_VERSION=$TAG_VERSION" >> $GITHUB_ENV

      - name: Submit Cloud Build
        working-directory: ./packages/mahjong-api
        run: |
          gcloud builds submit \
            --region asia-east1 \
            --config cloudbuild.yaml \
            --substitutions=_TAG_VERSION=${{ env.TAG_VERSION }},_DATABASE_URL=${{ secrets.DATABASE_URL }},_GCS_SA_KEY_PATH=${{ secrets.GCS_SA_KEY_PATH }},_GCS_BUCKET_NAME=${{ secrets.GCS_BUCKET_NAME }},_GCS_SA_KEY_OBJECT=${{ secrets.GCS_SA_KEY_OBJECT }}
